# Ignore files
_site/
.jekyll-metadata
.DS_Store
Gemfile.lock

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# Folders to ignore
node_modules
vendor/bundle

# Cache
.sass-cache/
.jekyll-cache/
